<%= form_for(@t_reddit) do |f| %>
  <% if @t_reddit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@t_reddit.errors.count, "error") %> prohibited this t_reddit from being saved:</h2>

      <ul>
      <% @t_reddit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :author %><br>
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :blog_entry %><br>
    <%= f.text_area :blog_entry %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
