<h1>All of <%= current_user.username %>'s Posts</h1>

<div class="row">
  <% current_user.t_reddits.each do |t_reddit|%>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= link_to t_reddit.title, t_reddit.user.username %>
        </div>
        <div class="panel-body">
          by <%= t_reddit.user.username %><br />
          <p><%= t_reddit.blog_entry[0..250] %>...[<%= link_to "READ MORE", t_reddit %>]</p>
        </div>
        <div class="panel-footer">
          <%= link_to 'Edit', edit_t_reddit_path(t_reddit),
            class: "btn btn-warning" %>
          <%= link_to 'Destroy', t_reddit, method: :delete,
          data: {confirm: 'Are you sure?'}, class: "btn btn-danger" %>
        </div>
      </div>
    </div>
  <% end %>
</div>